<div *ngIf="professeur">
    <h3 class="center">{{ professeur.nom +' '+ professeur.prenom }}</h3>
    <div class="row">
        <div class="col m8 offset-m2 s12">
            <div class="card horizontal hoverable professeur">
                <div class="card-image">
                    <img src="../../../assets/{{ professeur.photo }}" alt="">
                </div>
                <div class="card-stacked">
                    <table>
                        <tr>
                            <td>Nom :</td>
                            <td>{{ professeur.nom }}</td>
                        </tr>
                        <tr>
                            <td>Nom :</td>
                            <td>{{ professeur.prenom }}</td>
                        </tr>
                        <tr>
                            <td>Nom :</td>
                            <td>{{ professeur.matiere }}</td>
                        </tr>
                    </table>
                    <a (click)="gotToProfesseur()" class="center">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!professeur" class="container">
    <h3 class="center">Aucun professeur n'a été trouvé.</h3>
    <a (click)="gotToProfesseur()">Retourner à la page d'accueil</a>
</div>


