.ma-carte{
    height: 160px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.ma-carte:hover{
    height: 160px;
    cursor: pointer;
    border: 3px solid teal;
}
.card-image{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.card-image img{
    width: 100%;
    height: 100%;
    background-size: cover;
}